---
import { getCollection } from 'astro:content';

import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { cn } from '../utils/cn';

const posts = (await getCollection('posts')).sort(
  (a, b) => b.data.puiblished_date.valueOf() - a.data.puiblished_date.valueOf()
);

const postsByYear = posts.reduce(
  (acc, post) => {
    const year = post.data.puiblished_date.getFullYear();
    if (!acc[year]) {
      acc[year] = [];
    }
    acc[year].push(post);
    return acc;
  },
  {} as Record<number, typeof posts>
);

const sortedYears = Object.keys(postsByYear)
  .map(Number)
  .sort((a, b) => b - a);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>

  <body class="overflow-y-hidden">
    <MainLayout>
      <section
        class={cn(
          'flex-1 overflow-y-auto',
          'md:max-w-10/12 md:mx-auto',
          'lg:max-w-7/12',
          'px-5 md:px-0 py-10',
          'w-full'
        )}
      >
        <div class={cn('flex flex-col gap-8 ')}>
          {
            sortedYears.map((year) => (
              <div class={cn('flex flex-col gap-4')}>
                <h2 class={cn('border-b border-gray-200 pb-2', 'font-bold text-3xl text-gray-800')}>
                  {year}
                </h2>

                <div class={cn('flex flex-col gap-4')}>
                  {postsByYear[year].map((post) => {
                    const { title, puiblished_date } = post.data;

                    return (
                      <a href={`/${post.id}/`}>
                        <div class={cn('flex flex-col')}>
                          <p class={cn('!text-xs text-gray-400')}>
                            <FormattedDate date={puiblished_date} />
                          </p>

                          <h4 class={cn('!font-medium !text-md !md:text-lg truncate')}>{title}</h4>
                        </div>
                      </a>
                    );
                  })}
                </div>
              </div>
            ))
          }
        </div>
      </section>
    </MainLayout>
  </body>
</html>
